@font-face {
    font-family: 'Baloo';
    src: url(fonts/Baloo/Baloo-Regular.ttf);
}
@font-face {
    font-family: "SF-Rounded";
    src: url(fonts/SF-Pro-Rounded-Regular.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .left, .right{
    display: flex;
    justify-content: space-between;
    border: 8px solid red;
}

img{
    height: 50px;
    width: 50px;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}