@font-face {
    font-family: 'Baloo';
    src: url(fonts/Baloo/Baloo-Regular.ttf);
}
@font-face {
    font-family: "SF-Rounded";
    src: url(fonts/SF-Pro-Rounded-Regular.otf);
}
:root{
    --font-page: "Baloo";
    --font-message: "SF-Rounded"; 
    --clr-background: #7CA1FF; 
    --clr-darkBlue: #2C497F; 
    --clr-lightBlue: #3F58FF; 
    --clr-footer: #4876B3; 
    --clr-text: #fff; 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: var(--clr-background);
}

h1, h3, p{
    font-family: var(--font-page);
    color: var(--clr-text);
}
/********************************************** HEADER *************************************/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px 0px;
    font-family: var(--font-page);
    background-color: var(--clr-background);
    color: var(--clr-text);
    gap: 20px;
}
.header .left, .center{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
.left, .center, .search-bar{
    flex-shrink: 1;
}
.header .left{
    gap: 5px;
}
.header .center, #header-text{
    gap: 30px;
    margin-top: 5px;
}
#BrandName{
    margin-top: 10px;
    text-align: center;
}

#logo{
    height: 50px;
    width: 50px;
}
.center{
    padding-right: 50px;
}
.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    gap: 20px;
    width: 20rem;
    flex-shrink: 2;
}
.search-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.2rem;
    max-width: 10rem;
    gap: 5px;
    background-color: rgba(255, 255, 255, 0.267);
    backdrop-filter: blur(20px);
    border-radius: 60px ;
    flex-shrink: 3;
}
.search-bar i{
    padding-left: 3px;
}

.search-bar input{
    flex: 1;
    border-radius: 0.5rem;
    background: transparent;
    border: 0;
    outline: none;
    padding: 0px 5px 0px;
    cursor: pointer;
    height: 1.2rem;
    max-width: 8rem;
}

.search-bar input::placeholder{
    color: rgba(255, 255, 255, 0.774);
    font-family: var(--font-page);
    font-size: 12px;
}
#join{
   flex-shrink: 1;
   height: 2rem;
   width: 4.5rem;
   text-align: center;
   font-family: var(--font-page);
   background-color: var(--clr-background);
   color: var(--clr-text);
   border: 2px solid #fff;
   border-radius: 0.5rem;
   cursor: pointer;
}

#header-text:hover{
font-size: 18px;
}

#join:hover{
    background-color: #fff;
    color: var(--clr-background);
    border: 2px solid var(--clr-background);
}

/**********************************************IMAGE SLIDER*************************************/
.slider-wrapper{
   position: relative;
    max-width: 48rem;
    margin: 0 auto; 
}

.top-recent-slider{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow: hidden;
    border-radius: 0.5rem;
}

.top-recent-slider img{
    display: flex;
    flex: 1 0 100%; 
    scroll-snap-align: start;
   object-fit: cover;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1
}

.slider-text-1{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(5, 4, 4, 0.644), rgba(255, 255, 255, 0));;
    overflow: hidden;
    width: 100%;
    height: 0;
    border-radius: 0.5rem;
    transition: 0.4s ease-in-out;
}

.slider-text-2{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(5, 4, 4, 0.616), rgba(255, 255, 255, 0));;
    overflow: hidden;
    width: 100%;
    height: 0;
    border-radius: 0.5rem;
    transition: 0.4s ease-in-out;
}

.slider-text-3{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(5, 4, 4, 0.63), rgba(255, 255, 255, 0));;
    overflow: hidden;
    width: 100%;
    height: 0;
    border-radius: 0.5rem;
    transition: 0.4s ease-in-out;
}

.slider-text-4{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(2, 1, 1, 0.719), rgba(255, 255, 255, 0));;
    overflow: hidden;
    width: 100%;
    height: 0;
    border-radius: 0.5rem;
    transition: 0.4s ease-in-out;
}

.slider-text-5{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(7, 6, 6, 0.582), rgba(255, 255, 255, 0));;
    overflow: hidden;
    width: 100%;
    height: 0;
    border-radius: 0.5rem;
    transition: 0.4s ease-in-out;
}

.header-slider-1:hover .slider-text-1{
    height: 100%;
}

.header-slider-2:hover .slider-text-2{
    height: 100%;
}

.header-slider-3:hover .slider-text-3{
    height: 100%;
}

.header-slider-4:hover .slider-text-4{
    height: 100%;
}

.header-slider-5:hover .slider-text-5{
    height: 100%;
}

.all-slider-text{
    width: 75%;
}

.all-slider-text h1{
    font-size: 40px;
    padding-left: 10px;
}

.all-slider-text h3{
    font-size: 25px;
    padding-left: 10px;
}

.all-slider-text p{
    font-size: 15px;
    padding-left: 10px;
}
/**********************************************TOP 10 MOVIE SLIDER*************************************/
.top10{
    margin-top: 50px;
    margin-bottom: 0;
    padding: 0px 8px 0px;
}

.top-movies-container{
    margin-top: 5px;
    margin-right: 8px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 0.5rem;
}

.movie-slider{
    --items-per-screen: 7; 
    --slider-index:0; 
    display: flex;
    margin-top: 10px;
    gap: 15px;
    width: 100%;
    border-radius: 0.5rem;
    transform: translateX(calc(var(--slider-index) * -100% * 3/5));
    transition: transform 250ms ease-in-out;
}

.new-release-slider{
    transform: translateX(calc(var(--slider-index) * -100% * 0.66 ));
}

.movie-slider > img{
    height: 250px;
    max-width: 25%;
    border-radius: 0.5rem;
}

.arrows{
    background-color: rgba(0, 0, 0, 0.25);
    margin-top: 10px;
    border: 0;
    outline: none;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0);
    padding: 0px;
    border-radius: 0.5rem;
    transition: background-color 150ms ease-in-out;
    z-index: 1;
    cursor: pointer;
}
.arrows i{
    color: rgba(255, 255, 255, 0.349);
    z-index: 2;
    transition:color 150ms ease-in-out;
}

.arrows:hover,
.arrows:focus{
    background-color: rgba(0, 0, 0, 0.5);
}
.arrows i:hover,
.arrows i:focus{
    color: white 
}

/********************************************** For You *************************************/

.daily-suggestion-container{
    display: flex;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 0px 8px 0px;
    gap: 20px;
}
.daily-suggestion{
 height: 15rem;
 width: 12rem;
 text-align: center;
 border: 2px solid white;
 border-radius: 25%;
 padding-top: 15px;
 padding-left: 10px;
 padding-right: 10px;
 background-color: var(--clr-darkBlue);
}
.daily-suggestion h1{
    font-size: 25px;
    text-wrap: wrap;
}
.daily-suggestion p{
    font-size: 15px;
}
.daily-suggestion hr{
    color: var(--clr-text);
    width: 10.5rem;
    border: 2px solid white;
    border-radius: 1rem;
}
.for-you-slider-container{
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 0.5rem;
}
.for-you-slider{
    --items-per-screen: 7; 
    --slider-index:0; 
    display: flex;
    margin-top: 25px;
    gap: 15px;
    width: 100%;
    border-radius: 0.5rem;
    transform: translateX(calc(var(--slider-index) * -100% * 0.9 ));
    transition: transform 250ms ease-in-out;
}
.for-you-slider > img{
    height: 200px;
    max-width: 25%;
    border-radius: 0.5rem;
}
.for-you-slider-container .for-you-arrows{
    margin-top: 12px;
   padding-top: 10px;
   padding-bottom: 0px;
}
.for-you-arrows{
    background-color: rgba(0, 0, 0, 0.25);
    border: 0;
    outline: none;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0);
    padding: 0px;
    border-radius: 0.5rem;
    transition: background-color 150ms ease-in-out;
    z-index: 1;
    cursor: pointer;
}
.for-you-arrows i{
    color: rgba(255, 255, 255, 0.349);
    z-index: 2;
    transition:color 150ms ease-in-out;
}

.for-you-arrows:hover,
.for-you-arrows:focus{
    background-color: rgba(0, 0, 0, 0.5);
}
.for-you-arrows i:hover,
.for-you-arrows i:focus{
    color: white 
}
/********************************************** Latest Articles *************************************/
.lower-content{
    display: flex;
    align-items: center;
}
.latest-articles{
    justify-self: start;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 8px;
}

.articles-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 0px 20px 0px;
    gap: 10px;
}
.articles{
    height: 100px;
    width: 50rem;
    border: 3px solid white;
    border-radius: 0.5rem;
}

.community-container{
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 350px;
    border: 3px solid white;
    border-radius: 0.5rem;
    margin-top: 5rem;
    background-color: var(--clr-darkBlue);
    text-align: center;
}
.community-container h2{
    font-family: var(--font-page);
    color: var(--clr-text);
    margin-top: 10px;
    font-size: 2rem;
    line-height: 1.8;
}
.socials{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.socials i:hover{
    color: var(--clr-background);
    transition:color 150ms ease-in-out;
}

.socials a{
    text-decoration: none;
    font-size: 35px;
    color: white;
    margin-top: 50px;
    cursor: pointer;
}

