@font-face {
    font-family: 'Baloo';
    src: url(fonts/Baloo/Baloo-Regular.ttf);
}
@font-face {
    font-family: "SF-Rounded";
    src: url(fonts/SF-Pro-Rounded-Regular.otf);
}
:root{
    --font-page: "Baloo";
    --font-message: "SF-Rounded"; 
    --clr-background: #7CA1FF; 
    --clr-darkBlue: #2C497F; 
    --clr-lightBlue: #3F58FF; 
    --clr-footer: #4876B3; 
    --clr-text: #fff; 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px 0px;
    font-family: var(--font-page);
    background-color: var(--clr-background);
    color: var(--clr-text);
    border-bottom: 8px solid #fff;

}
.header .left, .right{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
.header .left{
    gap: 5px;
}
.header .right, #header-text{
    gap: 20px;
    margin-top: 5px;
}
#BrandName{
    margin-top: 10px;
    text-align: center;
}

#logo{
    height: 50px;
    width: 50px;
}

#join{
   height: 2rem;
   width: 4.5rem;
   text-align: center;
   font-family: var(--font-page);
   background-color: var(--clr-background);
   color: var(--clr-text);
   border: 2px solid #fff;
   border-radius: 0.5rem;
   cursor: pointer;
}

#header-text:hover{
font-size: 18px;
}

#join:hover{
    height: 2.5rem;
    width: 5rem;
    background-color: #fff;
    color: var(--clr-background);
    border: 2px solid var(--clr-background);
}
.slider-wrapper{
   position: relative;
    max-width: 48rem;
    margin: 0 auto; 
}

.top-recent-slider{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow: hidden;
    border-radius: 0.5rem;
}

.top-recent-slider img{
    display: flex;
    flex: 1 0 100%; 
    scroll-snap-align: start;
   object-fit: cover;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1
}
.slider-text-1{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(15, 12, 12, 0.568), rgba(255, 255, 255, 0));;
  overflow: hidden;
  width: 100%;
  height: 0;
  border-radius: 0.5rem;
  transition: 0.4s ease-in-out;
}
.slider-text-1{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(15, 12, 12, 0.568), rgba(255, 255, 255, 0));;
    overflow: hidden;
    width: 100%;
    height: 0;
    border-radius: 0.5rem;
    transition: 0.4s ease-in-out;
  }
  .slider-text-2{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(15, 12, 12, 0.568), rgba(255, 255, 255, 0));;
    overflow: hidden;
    width: 100%;
    height: 0;
    border-radius: 0.5rem;
    transition: 0.4s ease-in-out;
  }
  .slider-text-3{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(15, 12, 12, 0.568), rgba(255, 255, 255, 0));;
    overflow: hidden;
    width: 100%;
    height: 0;
    border-radius: 0.5rem;
    transition: 0.4s ease-in-out;
  }
  .slider-text-4{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(15, 12, 12, 0.568), rgba(255, 255, 255, 0));;
    overflow: hidden;
    width: 100%;
    height: 0;
    border-radius: 0.5rem;
    transition: 0.4s ease-in-out;
  }
  .slider-text-5{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(15, 12, 12, 0.568), rgba(255, 255, 255, 0));;
    overflow: hidden;
    width: 100%;
    height: 0;
    border-radius: 0.5rem;
    transition: 0.4s ease-in-out;
  }
  .header-slider-1:hover .slider-text-1{
    height: 100%;
}


